<div class="container login-screen">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-7">
            <p-blockUI [blocked]="blocked">
                <a> hello world</a>
            </p-blockUI>
            <div class="login-form-container">
                <h4 class="center-block sys-title">微信公众号后台管理</h4>
                <form #form="ngForm" (ngSubmit)="form.form.valid" novalidate class="form-horizontal" role="form">
                    <div class="form-group" [ngClass]="{ 'has-error': form.submitted && !userName.valid }">
                        <div>
                            <input required name="userName" [(ngModel)]="user.userName" #userName="ngModel" type="text" class="form-control" placeholder="请输入用户名...">
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': form.submitted && !password.valid }">
                        <div>
                            <input required [(ngModel)]="user.password" name="password" #password="ngModel" type="password" class="form-control" placeholder="请输入密码...">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <div class="text-danger">{{errormdg}}</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn btn-success" style="width:100%" (click)="login(form.form)">登录</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <a href="">忘记密码</a>
                            <a href="">注册</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>