<p-dataTable [value]="users" [loading]="loading"  selectionMode = "single"  >
    <p-header style="background:aquamarine; width:100% ; height:100%; padding:0px; margin:0px">
            List of Cars 
    </p-header>
    <p-column field='id' header='序号' styleClass="mytable"  footer="111111111"></p-column>
    <p-column field='username' header='昵称'></p-column>
    <p-column field='age' header='年龄'></p-column>
</p-dataTable>
<p-paginator rows='10' totalRecords="100" pageLinkSize="3" [rowsPerPageOptions]="[10,20,30]" (onPageChange)="paginate($event)"></p-paginator>